<!doctype html>
<html>
  <head>
    <title>Flask-SocketIO Chat App</title>
  </head>
  <body>
    <h1>Flask-SocketIO Chat App</h1>
    <div id="messages"></div>
    <form>
      <input id="msg_input" type="text" autocomplete="off">
      <button id="send_button" type="submit">Send</button>
    </form>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.esm.min.js" integrity="sha512-fUxU0lx547CL7r6xWl+q21HHfQzu0yYPvXmtNVlScPhJYWQOn3YIj1J22crPHyTilEtXI50HU/+bHewryqJT1Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    <script>
      var socket = io.connect('http://' + document.domain + ':' + location.port);

      socket.on('message', function(msg) {
        $('#messages').append($('<p>').text(msg));
      });

      $('form').submit(function(event) {
        event.preventDefault();
        socket.emit('message', $('#msg_input').val());
        $('#msg_input').val('').focus();
      });
    </script>
  </body>
</html>
